$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$image_path: '../images/';


// color
$color_main: #00807E;
$color_secondary: #64C3BF;


// gray
$gray_01: #FAFAFA;
$gray_02: #F7F7F7;
$gray_06: #818A91;
